/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-200: #ecf2f8;
  --grey-400: #9daec2;
  --grey-500: #6e8098;
  --grey-900: #48556a;
  --white: #fff;
  --text-preset-1-fw: 700;
  --text-preset-1-fs: 20px;
  --text-preset-1-lh: 130%;
  --text-preset-1-ls: 0.2496px --text-preset-2-med-fw-bold: 400;
  --text-preset-2-med-fs: 13px;
  --text-preset-2-med-lh: 140%;
  --text-preset-2-med-ls: 0.12%;
  --text-preset-2-bold-fw: 700;
  --text-preset-2-bold-fs: 13px;
  --text-preset-2-bold-lh: 140%;
  --text-preset-2-bold-ls: 0.12%;
  --text-preset-3-fw: 400;
  --text-preset-3-fs: 0.8125rem;
  --text-preset-3-lh: 140%;
  --text-preset-3-ls: 0.25rem;
}

body {
  align-items: center;
  background-color: var(--grey-200);
  display: flex;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  position: relative;
}

/* || Main Styles */

/* Typography */

.text-bold {
  color: var(--grey-900);
  font-size: var(--text-preset-1-fs);
  font-weight: var(--text-preset-1-fw);
  line-height: var(--text-preset-1-lh);
  letter-spacing: var(--text-preset-1-ls);
  margin-block-end: 1.5rem;
}

.text-medium {
  color: var(--grey-500);
  font-size: var(--text-preset-2-med-fs);
  line-height: var(--text-preset-2-med-lh);
  letter-spacing: var(--text-preset-2-med-ls);
  margin-block-end: 3rem;
}

.name {
  color: var(--grey-900);
  font-size: var(--text-preset-2-bold-fs);
  font-weight: var(--text-preset-2-bold-fw);
  line-height: var(--text-preset-2-bold-lh);
  letter-spacing: var(--text-preset-2-bold-ls);
}

.date {
  color: var(--grey-400);
  font-size: var(--text-preset-2-bold-fs);
  font-weight: var(--text-preset-2-bold-fw);
  line-height: var(--text-preset-2-bold-lh);
  letter-spacing: var(--text-preset-2-bold-ls);
}

/* Layout */

.card {
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: 1rem 1rem 3rem var(--grey-400);
  height: 33.625rem;
  overflow: hidden;
  position: relative;
  width: 20.4375rem;
}

.image-container {
  background-image: url(./images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 12.5rem;
  margin-block-end: 2rem;
  width: 100%;
}

.text-container {
  padding: 0 2rem 1rem 2rem;
}

.profile-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.profile-img {
  border-radius: 50%;
  height: auto;
  width: 2.5rem;
}

button {
  align-items: center;
  background-color: var(--grey-200);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
  z-index: 99;
}

/* Share windows */

.share-container {
  align-items: center;
  background-color: var(--grey-900);
  bottom: 0;
  display: flex;
  opacity: 0;
  gap: 1rem;
  height: 4.4375rem;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.share-text {
  color: var(--grey-400);
  font-size: var(--text-preset-3-fs);
  font-weight: var(--text-preset-3-fw);
  line-height: var(--text-preset-3-lh);
  letter-spacing: 0.25rem;
}

.social-wrapper {
  align-items: center;
  display: flex;
  gap: 0.7rem;
}

.social-link {
  cursor: pointer;
  transition: transform 0.2s e;
}

.social-link:hover {
  transform: scale(1.1);
}

.share-container-visible {
  opacity: 1;
}

.btn-selected {
  background-color: var(--grey-500);
}

.share-icon-selected {
  filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(9%)
    hue-rotate(201deg) brightness(103%) contrast(100%);
}

.share-container-desktop {
  align-items: center;
  background-color: var(--grey-900);
  position: absolute;
  border-radius: 0.625rem;
  bottom: 5rem;
  padding: 1rem 2rem;
  display: flex;
  opacity: 0;
  gap: 1rem;
  left: 67.5%;
  top: 53%;
  transition: opacity 0.2s ease-in-out;
  height: 3.2rem;
  width: 14rem;
}

.share-container-desktop-visible {
  opacity: 1;
}

.triangle {
  position: absolute;
  background-color: var(--grey-900);
  height: 1rem;
  bottom: -15%;
  left: 50%;
  transform: rotate(45deg);
  width: 1rem;
}

/* || Media Query */

@media screen and (max-width: 767px) {
  .share-container-desktop {
    display: none;
  }
}

@media screen and (min-width: 48rem) {
  .card {
    display: grid;
    height: 21.625rem;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    width: 38rem;
  }

  .image-container {
    background-size: cover;
    height: 100%;
  }

  .text-container {
    padding: 2rem;
  }

  .share-container,
  .share-container.share-container-visible {
    display: none;
  }
}

@media screen and (min-width: 90rem) {
  .card {
    height: 17.5rem;
    width: 45.625rem;
  }

  .text-container {
    padding: 2rem;
  }

  .text-medium {
    margin-block-end: 1.5rem;
  }

  .share-container-desktop {
    left: 63.5%;
    top: 50%;
  }
}
