/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Grey-200: #48556a;
  --Grey-400: #9daec2;
  --Grey-500: #6e8098;
  --Grey-900: #48556a;
  --white: #fff;
  --text-preset-1-fw: 700;
  --text-preset-1-fs: 20px;
  --text-preset-1-lh: 130%;
  --text-preset-1-ls: 0.2496px --text-preset-2-med-fw-bold: 400;
  --text-preset-2-med-fs: 13px;
  --text-preset-2-med-lh: 140%;
  --text-preset-2-med-ls: 0.12%;
  --text-preset-2-bold-fw: 700;
  --text-preset-2-bold-fs: 13px;
  --text-preset-2-bold-lh: 140%;
  --text-preset-2-bold-ls: 0.12%;
  --text-preset-3-fw: 400;
  --text-preset-3-fs: 0.8125rem;
  --text-preset-3-lh: 140%;
  --text-preset-3-ls: 25%;
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}
